@charset "utf-8";
.comWidth{ 
    width: 982px;
    margin: 0 auto;
}
.show{ 
    display: block;
}
.hide{ 
    display: none;
}
html{ 
    background: url(../images/backgroung/html.png);
}
body{ 
    font: 12px/1 "";
    background: url(../images/backgroung/1.fw.png) no-repeat top center;
    height: 1000px;
}
.top_nav{ 
    height: 450px;
}
.nav_list li{ 
    width: 105px;
    float: left;
    position: relative;
    left: 66px;
}
.nav_list .logo{ 
    width: 258px;
}
.nav_list a{ 
    display: inline-block;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    color: transparent;
}
/***********top over*******************/
/***********left************************/
.main{ 
    margin-bottom: 20px;
}
.leftArea{ 
    width: 200px;
    height: 1240px;
    background-color: #018EBA;
    border: #007CAE 1px solid;
} 
.blue{ 
    border: #74CEDE 1px solid;
    height: 1238px;/******/
    padding: 0 5px;
    position: relative;
}
.leftCont{ 
    position: relative;
    top: 48px;
}
.about{ 
    position: absolute;
    z-index: 2;
    width: 216px;
    height: 67px;
    background: url(../images/icon/icon.fw.png) 0 0 no-repeat;
    left: -8px;
    top: -15px;
    overflow: hidden;
}
.about a{ 
    text-align: center;
    position: relative;
    width: 50px;
    height: 25px;
    margin: 24px;
    color: transparent;
}
.loginContainer{ 
    border: #025D82 1px solid;
    border-top: none;
    margin-bottom: 8px;
}
.loginItem{ 
    border: #3AB9E3 1px solid;
    border-top: none;
    height: 140px;
}
.loginItem .login_tit{ 
    display: block;
    font: 16px/1 "Microsoft YaHei";
    color: #FFF;
    text-align: center;
    height: 22px;
}
.login_icon{ 
    display: block;
    width: 100%;
    height: 2px;
    background: url(../images/icon/icon.fw.png) 0 -84px no-repeat;
}
.loginCont{ 
    font-size: 12px;
    padding: 13px 0 0 15px;
}
.login_btnBox{ 
    margin-bottom: 6px;
}
.login_btnBox .name{ 
    margin-right: 8px;
    color: #FFF;
    float: left;
    width: 43px;
    height: 20px;
    line-height: 20px;
}
.login_input{
    width: 92px;
    padding: 0 6px;
    border: #056382 1px solid;
    background-color: #D4F5FF;
}
.login_input input{ 
    width: 92px; 
    height: 20px;
    line-height: 20px\9;
}
.login_input p{ 
    line-height: 20px;
    height: 20px;
    margin-bottom: -20px;
}
.login_btn_txt{ 
    padding-top: 4px;
}
.login_btn_txt a{ 
    float: left;
    line-height: 25px;
}
.login_btn{ 
    width: 93px;
    height: 25px;   
    text-align: center;
    color: #FFF;
    background: url(../images/icon/icon.fw.png) no-repeat 0 -109px;
    margin-right: 10px;
}
.find_pw{ 
    color: #C6F0FD;
    text-decoration: underline;
}
.linkBox{ 
    margin-bottom: 10px;
}
.linkBox .link{ 
    /*display: inline-block;*/
    float: left;
    width: 186px;
    height: 33px;
    padding-top: 13px;
    line-height: 33px;
    background: url(../images/icon/link.png) repeat-x left top;
    border: #6A4F1C 1px solid;
    margin-bottom: 3px;
    text-indent: 15px;
    color: transparent;
}
.link_txt{ 
    float: left;
    width: 108px;
    height: 28px;
    background: url(../images/icon/icon.fw.png) 0 -155px;
    margin: 0 30px 0 15px;
}
.link_gift{ 
    float: left;
    width: 108px;
    height: 28px;
    background: url(../images/icon/icon.fw.png) 0 -187px no-repeat;
    margin: 0 30px 0 15px;
}
.link_icon{ 
    float: left;
    width: 21px;
    height: 21px;
    background: url(../images/icon/icon.fw.png) 0 -240px no-repeat;
    margin-top: 2px;
}
.server{ 
    padding-bottom: 40px;
}
.blue_tit{ 
    height: 26px;
     font: 16px/26px "Microsoft YaHei";
    border-top: #027499 1px solid;
    border-bottom: #027499 1px solid;  
    background: url(../images/icon/icon.fw.png) 0 -270px; 
    margin: 0 -5px;
    color: #FFF;
    text-align: center;
    margin-bottom: 3px;
}
.server_list{ 
    margin-bottom: 6px;
}
.server_list li{ 
    margin: 0 -5px;
    padding-left: 15px;
    background: url(../images/icon/icon.fw.png) no-repeat 0 -343px;
    font-size: 0;
    height: 22px;
}
.server_list a{ 
    font: 12px/22px "";
    height: 22px;
    text-indent: 1px;
    line-height: 22px;
    display: inline-block;
    color: #FFF;
}
.server_icon{ 
   display: inline-block;
   width: 4px;
   height: 8px;
   overflow: hidden;
   background: url(../images/icon/icon.fw.png) no-repeat 0 -307px;
   margin-right: 6px;
}
.new_icon{ 
    width: 25px;
    height: 10px;
    overflow: hidden;
    display: inline-block;
    background: url(../images/icon/icon.fw.png) no-repeat -11px -306px;
    margin: -2px 0 0 10px;
}
.more{ 
    font: 12px/26px "";
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.latest_act{ 
    margin-bottom: 10px;
}
.blue_tit{ 
    margin-bottom: 9px;
}
.item{ 
    width: 164px;
    margin: 0 auto 3px;
    border: 2px solid #037194;
}
.item img{ 
    height: 46px;
    width: 162px;
    border: #2D99C6 1px solid;
}
.introduce .text{ 
    line-height: 18px;
    color: #FFF;
    text-indent: 24px;
    height: 162px;
    padding: 0 10px;
}
.helpCont p{ 
    padding-left: 10px;
    color: #FFF;
    line-height: 20px;
}
.yellow{ 
    color: #FFEF00;
}
.help_btn{ 
    display: inline-block;
    height: 22px;
    width: 79px;
    line-height: 18px;
    background: url(../images/icon/icon.fw.png) no-repeat -109px -110px;
}
/***********left over************/
/***********right************/
.top{
    margin-bottom: 10px;
    height: 243px;
}
.rightArea{ 
    margin-left: 15px;
}
.topLeft{ 
    width: 286px;
    height: 235px;
    padding: 4px;
    background: url(../images/icon/bg_left.png) no-repeat 0 0;
}
.top_imgBox{ 
    width: 100%;
    height: 100%;
    position: relative; 
    overflow: hidden;
}
.top img{ 
    height: 235px;
    width: 286px;
}
.topImgList li{ 
    float: left;
}
.topImgList{ 
    height: 235px;
    width: 300%;
    left: 0;
    top: 0;
    position: absolute;
}
.topRight{ 
    width: 456px;
    border: #008AC2 1px solid;
}
.topContainer{ 
    height: 190px;
}
.topCont{ 
    background-color: #EDFAFD;
    border: #60D0F0 solid 1px;
}
.top_nav_news{ 
    height: 35px;
    border-bottom: #01AAE1 1px solid;
    background: url("../images/icon/blue.png") repeat-x 0 0; 
}
.nav_news{
    border-bottom: #09C1E9 1px solid;
    padding-left: 7px;
    padding-top: 4px;
    height: 30px;
}
.nav_news li{ 
    float: left;
    margin-right: 2px;
}
.nav_news a{ 
    float: left;
    padding: 0 8px;
    text-align: center;
    color: #FFF;
    line-height: 30px;
    height: 30px;
}
.nav_news li:hover a, .nav_news .active a{ 
   background-color: #FFF;
   color: #0585AD;
   height: 32px;
   line-height: 32px;
   border: #0688AF solid 1px;
   border-bottom: none;
   position: relative;
   margin: -1px -1px -2px -1px;
}
.news_more{ 
    color: #FFF;
    line-height: 35px;
    margin-right: 10px;
}
.news_more span{ 
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    background: url(../images/icon/icon.fw.png) no-repeat -59px -306px;
    margin-right: 5px;
}
.topContainer{ 
    padding: 12px 15px 0 15px;
}
.topLine{ 
    height: 31px;
    background-color: #D7F6FF;
    border: #A8DAEC 1px solid;
    margin-bottom: 6px;
    position: relative;
}
.topLine i{ 
    position: absolute;
    top: 6px;
    left: 10px;
    width: 45px;
    text-align: center;
    line-height: 18px;
    color: #FFF;
    height: 18px;
    background: url(../images/icon/icon.fw.png) no-repeat 0 -380px; 
}
.topLine a{ 
    display: inline-block;
    line-height: 31px;
    margin-left: 64px;
    color: #FF4D00;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice li{ 
    width: 100%;
    height: 24px;
    line-height: 24px;
}
.notice a{
    display: inline-block;
    position: relative;
    padding-left: 10px;
    color: #434343;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice em{
    position: absolute;
    width: 3px;
    height: 5px;
    overflow: hidden;
    background: url(../images/icon/icon.fw.png) no-repeat -50px -310px;
    top: 4px;
    left: 0;
}
.notice em, .notice span{ 
    vertical-align: middle;
}
.time{ 
    color: #5789A3;
}
/*********top over*********/
/**********img***********/
.imgCont{ 
    height: 76px;
    margin-right: -10px;
    margin-bottom: 10px;
}
.imgItem{ 
    border: #87B6CC 1px solid;
    padding: 1px;
    margin-right: 8px;        
}
/*******img over*********/
/**********data*****************/
.data{ 
    height: 310px;
    margin-bottom: 10px;
}
.dataLeft, .dataRight{ 
    width: 374px;
    height: 310px;
    border: #008AC2 1px solid;
}
.data_leftCont, .data_rightCont{ 
    height: 308px;
    border: #70D6F2 1px solid;
}
.data_text{
    font: 14px/35px "Microsoft YaHei";
    color: #FFF;
    position: relative;
    margin-left: 10px;
    padding-left: 40px;
}
.data_icon, .data_icon_01{ 
    position: absolute;
    width: 37px;
    height: 40px;
    background: url(../images/icon/icon.fw.png) no-repeat -59px -226px;
    top: -5px;
    left: 0;
}
.data_list{ 
    height: 90px;
    border-bottom: #A4DDEA 1px solid;
}
.data_list dt{
    position: relative;
    float: left; 
    width: 108px;
    height: 88px;
    background: url(../images/icon/icon.fw.png) no-repeat 0 -413px;
}
.data_about{ 
    position: absolute;
    width: 112px;
    height: 21px;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 21px;
    text-indent: 5px;
    color: #FFF;
    background: url(../images/icon/icon.fw.png) no-repeat -62px -379px;
}
.bg_white{ 
    background-color: #FFF;
}
.data_list dd{ 
    padding-top: 10px;
    float: right;
    line-height: 24px;
    width: 254px; 
}
.data_list dd p{ 
    height: 24px;
}
.data_list dd span{ 
    padding: 0 5px 0 7px;
    color: #73B1C7;
}
.data_list dd a{ 
    color: #217D9D;
}
.data_icon_01{ 
    background-position: -114px -225px;
}
.dateList{ 
    background-color: #FFF;
    height: 25px;
    padding: 0 4px;
    padding-top: 3px;
    border-bottom: #C5E7EF 1px solid;
}
.dateList li{
    width: 49px;
    text-align: center;
    line-height: 24px;
    height: 24px;
    float: left;
    color: #0C508A;
    border: #74B4CE 1px solid;
    border-bottom: none;
    margin-right: 1px;
    background: url(../images/icon/icon.fw.png) no-repeat -266px 0;
}
.dateList .active{ 
    background-position: -267px -33px;
}
.date_tab dd{ 
    height: 32px;
}
.w_157{ 
    width: 159px;
}
.w_105{ 
    width: 106px;
}
.date_tab p{ 
    float: left;
    height: 35px;
    line-height: 35px;
    border: #C5E7EF 1px solid;
    text-align: center;
    margin: -1px;
}
.bg_blue{ 
    background-color: #F1FCFF;
}
.bg_blue p{ 
    background-color: #F1FCFF;
}
.bg_white p{ 
    background-color: #FFF;
}
.head_tab{ 
    color: #227D9D;
}
/***************************/
/***********pets********************/
.pets{ 
    margin-bottom: 10px;
}
.petBox a{ 
    font-size: 14px;
    width: 80px;
}
.petCont{ 
    height: 152px;
    background-color: #FFF;
    padding: 12px 0 0 14px;
}
.petBox .nav_news li:hover a, .petBox .active a{
    font-size: 14px;
}
.petItem{ 
    width: 238px;
    margin-right: 10px;
    border: #C07E16 1px solid;
}
.pets_sm{ 
    height: 113px;
    padding: 1px;
    border-bottom:#C07E16 1px solid ;
}
.pets_sm img{ 
    display: block;
    float: left;
}
.petItem p{ 
    line-height: 22px;
    height: 22px;
}
/********pet over*******************/
.ranking{ 
    margin-bottom: 8px;
}
.raider{ 
   width: 372px;
   border: #008AC2 1px solid; 
}
.blue_raider{ 
    border: #60D0F0 1px solid;
    overflow: hidden;
}
.raider_icon{ 
    position: absolute;
    width: 37px;
    height: 40px;
    background: url(../images/icon/icon.fw.png) no-repeat -124px -165px;
    top: 0;
    left: 0;
}
.raiderCont{ 
    height: 175px;
    background-color: #FFF;
}
.raiderTop{ 
    margin-right: -10px;
    height: 27px;
    background-color: #DAF5FC;
}
.raiderTop li{ 
    float: left;
    width: 85px;
    height: 27px;
    border-right: 1px solid #F0FBFE;
    text-align: center;
}
.raiderTop .last{ 
    width: 54%;
}
.raiderTop a{ 
    width: 100%;
    color: #217D9D;
    float: left;
    height: 27px;
    line-height: 27px;
    border-right: #99D2E5 1px solid;
}
.raiderTop a:hover{ 
    font-weight: bold;
    background-color: #FFF;
}
.raider_notice{ 
    padding: 8px;
}
.rank{ 
    width: 372px;
    border: #008AC2 1px solid;
}
.rank_blue{ 
    border: #60D0F0 1px solid;
    overflow: hidden;
}
.rank_icon{ 
    position: absolute;
    width: 40px;
    height: 39px;
    background: url(../images/icon/icon.fw.png) no-repeat -93px -306px;
    top: -3px;
    left: 0;
}
.rankCont{ 
    height: 175px;
    background-color: #FFF;
}
.serviceTop{ 
    height: 23px;
    padding-top: 4px;
    background-color: #DAF5FC;
}
.serviceTop p {
    margin-left: 27px;
    line-height: 23px;
    color: #217D9D;
}
.serList{ 
    width: 140px;
    height: 18px;
    position: relative;
    border: #7F9DB9 1px solid;
    background-color: #FFF;
}
.serList h3{ 
    font-weight: normal;
    height: 18px;
    text-indent: 3px;
    position: relative;
    line-height: 18px;
    color: #000;
}
.pull_down{ 
    position: absolute;
    background: url(../images/icon/icon.fw.png) no-repeat -300px -77px;
    width: 17px;
    height: 16px;
    overflow: hidden;
    right: 0;
    top: 1px;
    margin-left: 10px;
}
.serList dl{ 
    position: absolute;
    top: 19px;
    left: 0;
    display: none;
    width: 100%;
    line-height: 27px;
    background-color: #FFF;
}
.power{
    width: 62px;
}
.rankTab dd{ 
    height: 25px;
    margin-right: -10px;
}
.rankTab p{ 
    float: left;
    width: 74px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: #B8E0EE 1px solid;
    margin: -1px;
    background-color: #FFF;
}
.rank_head{ 
    color: #217D9D;
    font-weight: bold;
}
/**********rank over****************/
/*************mei nv************/
.meinv{ 
   border: #008AC2 1px solid; 
}
.meinv_blue{ 
    border: #60D0F0 1px solid;
}
.meinvCont{ 
    height: 90px;
    padding: 10px;
    background-color: #FFF;
}
.meinvCont img{ 
    float: left;
    margin-right: 16px;
    display: block;
    height: 90px;
    width: 165px;
    border: 1px solid #08B1CD;
}
.footer{ 
    text-align: center;
    color: #333333;
    line-height: 22px;
}