@charset "utf-8";

*{ 
    margin: 0;
    padding: 0;
}
ul, ol{ 
    list-style: none;
}
a{ 
    text-decoration: none;
}
img{ 
    display: block;
    border: none;
}
em{ 
    font-style: normal;
}
input, textarea, select{ 
    border: none;
    outline: none;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6{ 
    font-size: 1em;
    font-weight: normal;
}
.clearfix:after, .clearfix:before{ 
    display: table;
    content: "";
}
.clearfix:after{ 
    clear: both;
}
.clearfix{ 
    *zoom: 1;
}
body{ 
    font-size: 12px;
    min-width: 1366px;
}
.icon{ 
    background-image: url(../images/icon/left_navList.png) ;
    background-repeat: no-repeat;
}
/*****通用*******/
.comWidth{ 
    width: 1190px;
    margin: 0 auto;
}
.fl{ 
    float: left;
}
.fr{ 
    float: right;
}
.hide{ 
    display: none;
}
.show{ 
    display: block;
}
.orange{ 
    color: #F12D00;
}
.mb_30{ 
    margin-bottom: 30px;
}

/****顶部********/
.topBar{ 
    width: 100%;
    height: 35px;
    background-color: #F5F5F5;
    border-bottom: #EEE 1px solid;
}
.leftLogin{
    line-height: 35px;
}
.orange a{ 
    color: #F12D00;
}
.top_login{ 
    color: #6B6B6B;
}
.navList li{ 
    float: left;
    margin-right: 4px;
    z-index: 2;
    position: relative;
}
.pull_link{ 
    display: block;
    position: relative;
    line-height: 20px;
    padding: 7px 23px 8px 9px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    z-index: 2;
}
.navList li:hover .pull_link, 
.navList .active .pull_link{ 
    padding: 7px 23px 9px 9px;
    background-color: #FFF;
    margin-bottom: -1px;
    background-color: #FFF;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.navList li:hover .pull_menu, 
.navList .active .pull_menu,
.navList li:hover .pull_nav{ 
    display: block;
}
.navList .pull_link:hover .pull_jt{ 
    background-position: -5px 0;
}
.pull_link{ 
    color: #6B6B6B;
}
.shopCar_icon{ 
    float: left;
    background: url(../images/icon/left_navList.png) no-repeat
    -296px 9px;
    text-indent: 16px;
}
.collect_icon{ 
    float: left;
    background: url(../images/icon/left_navList.png) no-repeat
    -379px 9px;
    text-indent: 16px;
}
.nav_icon{ 
    float: left;
    background-position: -380px -618px;
    text-indent: 16px;
}
.pull_jt{ 
    width: 5px;
    height: 3px;
    position: absolute;
    right: 9px;
    bottom: 15px;
    _bottom: 18px;
    overflow: hidden;
    background: url(../images/icon.jpg) no-repeat 0 0;
}
.pull_menu, .pull_nav{ 
    position: absolute;
    background-color: #FFF;
    top: 35px;
    min-width: 100%;
    z-index: 1;
}
.pull_menu{ 
    left: 0;
}
.pull_nav{ 
    right: 0;
}
.pull_menu a{ 
    color: #6C6C6C;
}
.pull_item a{ 
    display: block;
    white-space: nowrap;
    line-height: 28px;
    padding: 0 10px;
}
.pull_item a:hover{ 
    background-color: #EEE;
}
.pull_item{ 
    border: 1px solid #EEE;
}
.line{ 
    line-height: 35px;
    color: #DDD;
}
.shopCar{ 
    width: 290px;
    border: 1px solid #EEE;
    padding: 0 10px;
    padding: 10px;
}
.shopCar .shopCar_btn{ 
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    background-color: #FF4300;
    color: #FFF;
}
.shopContItem img{ 
    width: 40px;
    height: 40px;
   display: block;
}
.shopContBox h3{ 
    margin: 10px 0;
}
.shopContItem dt{ 
    float: left;
}
.shopContItem dd{ 
    margin-left: 50px;
    margin-bottom: 10px;
}
.shopContItem dd p{
    height: 20px;
}
.slh{ 
    width: 70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.webNav{ 
    width: 1188px;
    border: 1px solid #EEE;
}
.web_navCont{ 
    width: 25%;
    border-right: #EEE 1px solid;
    margin-right: -1px;
}
.web_navItem{ 
    padding: 10px;
}
.web_navItem h3{ 
    height: 30px; 
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.web_item_links li{ 
    line-height: 25px;
    width: 25%; 
}
.web_item_links a{ 
    display: block;
    text-indent: 8px; 
}
.web_item_links a{ 
    color: #3C3C3C;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.c1{ 
    color: #FF5500;
}
.c1 a:hover{ 
    background-color: #FF5500;
    color: #FFF;
}
.c1{ 
    color: #FF5500;
}
.c1 a:hover{ 
    background-color: #FF5500;
    padding: 0 4px;
    color: #FFF;
}
.c2{ 
    color: #B5C884;
}
.c2 a:hover{ 
    background-color: #B5C884;
    color: #FFF;
}
.c3{ 
    color: #DF61AB;
}
.c3 a:hover{ 
    background-color: #DF61AB;
    color: #FFF;
}
.c4{ 
    color: #55A1E5;
}
.c4 a:hover{ 
    background-color: #55A1E5;
    color: #FFF;
}
/*****topBanner******/
.top_banner{ 
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 39px;
}
.top_banner img{ 
    width: 1000px;
    height: 40px;
}
/*********over***********/
/*********顶部搜索框~~~~~~**************/
.logoImg{ 
    width: 140px;
    height: 98px;
    background: url(../images/icon/top.png) no-repeat -4px -4px;
    margin-right: 110px;
}
.serchBox{ 
    width: 720px;
}
.search{ 
    height: 45px;
}
.search_pannel{ 
    width: 675px;
    height: 39px;
    border: 3px solid #FF4400;
}
.baobei{ 
    width: 73px;
    height: 100%;
    background-color: #F5F5F5;
    position: relative;
    border-right: #E5E5E5 1px solid;
}
.baobei h3{
   font: 12px/39px "";
   height: 39px;
   color: #6B6B6B;
   position: relative;
   text-indent: 23px;
   
}
.baobeiMenu{ 
    position: absolute;
    width: 6px;
    height: 6px;
    overflow: hidden;
    background: url(../images/icon/top.png) no-repeat -192px -4px;
    left: 59px;
    top: 18px;
}
.baobeiList{ 
    position: absolute;
    font: 12px/20px "";
    width: 71px;
    background-color: #FFF;
    text-indent: 23px;
    top: 42px;
    left: 0;
    border: #E1E1E1 1px solid;
    display: none;
}
.baobeiList a{ 
    color: #6C6C6C
}
.baobei .active{ 
    display: block;
}
.input_search{ 
    width: 493px;
    padding-left: 11px;
}
.input_search span{ 
    font: 12px/39px "";
    display: block;
    color: #9C9C9C;
    height: 39px;
    padding-left: 17px;
    margin-bottom: -39px;
    position: relative;
    z-index: -1;
}
.search_icon{
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 13px;
    height: 13px;
    overflow: hidden;
    background: url(../images/icon/top.png) no-repeat -145px -2px;
    margin-right: 3px;
}
.input_search input{ 
    width: 100%;
    position: relative;
    z-index: 3;
    float: left;
    height: 39px;
    line-height: 39px\9;
}
.search_btn input{ 
    width: 96px;
    height: 39px;
    color: #FFF;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background-color: #FF4400;
    line-height: 39px/9;
    letter-spacing: 5px;
}
.adv_search{ 
    font-size: 12px;
    line-height: 18px;
    color: #6B6B6B;
    width: 24px;
    padding-top: 5px;
}
.search_kw{ 
    height: 30px;
    line-height: 30px;
}
.search_kw li{ 
    float: left;
    font-size: 12px;
    margin-right: 8px;
    color: #6B6B6B;
}
.search_kw .more{ 
    margin-left: 20px;
}
.erweima{ 
    padding: 5px;
    border: #EEE 1px solid;
    position: relative;
}
.erweima .cancle{ 
    position: absolute;
    top: -1px;
    left: -20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icon/top01.png) no-repeat 0 -162px;
}
.erweima p{ 
    color: #6B6B6B;
    line-height: 20px;
}
/******顶部搜索框over*********/
.left_class{ 
    width: 150px;
    margin-right: 10px;
    position: relative;
}
.cont{ 
    margin-bottom: 25px;
}
.left_navTit{ 
    width: 150px;
    height: 41px;
    text-align: center;
    font: bold 16px/41px "黑体";
    color: #FFF;
    background-color: #FF4400;
}
.left_navContainer{ 
    width: 100%;
    position: absolute;
    left: 0;
    top: 41px;
}
.left_navList{ 
    padding: 0 10px;
    border: 1px solid #BBB;
    border-top: none;
}
.left_navList li{ 
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    border-bottom: #DEDEDE 1px solid;
    position: relative;
   /* vertical-align: top;*/
}
.left_navList a{ 
    color: #8D8D8D;
    font-family: "Microsoft YaHei";
}
.left_navItem{ 
    border: #FFF 1px solid;
    height: 31px;
    border-bottom-color: #EEE;
    position: relative;
    z-index: 8;
    background-color: #FFF;
}
.left_navList li:hover .left_navItem{ 
    margin: 0 -11px;
    border-color: #FF4400;
    padding: 0 11px;
    border-right: none;
}
.left_navList li:hover .left_navMenu,
.left_navList .active .left_navMenu{ 
    display: block;
}
.left_navMenu{ 
    position: absolute;
    height: 510px;
    width: 560px;
    padding: 25px 15px;
    background-color: #FFF;
    left: 138px;
    top: -240px;
    z-index: 6;
    line-height: 24px;
     display: none; 
    border: #FF4400 1px solid;
}
.MenuTit{ 
    border-bottom: #EEE 1px solid;
}
.MenuTit p{ 
    color: #3B3B3B;
    font-size: 14px;
    float: left;
    height: 36px;
    margin-right: 40px;
}
.MenuTit p span{ 
    vertical-align: middle; 
    margin-right: 10px;  
}
.menu_icon{ 
    background: url(../images/icon/top01.png) no-repeat 0 -192px;
    display: inline-block;
    width: 16px;
    height: 15px;
}
.menuCont{
    height: 475px;
    overflow: hidden;
}
.menuLeft, .menuRight{ 
    padding-top: 17px;
    width: 270px;
    border-right: 1px solid #EEE;
}
.menuItem{ 
    margin: 0 15px 15px 10px;
    overflow: hidden;
    border-bottom: #EEE 1px dashed;
}
.menuItem h3{ 
    height: 17px;
    line-height: 1;
    font-size: 12px;
    line-height: 1;
}
.kind_class{ 
    font-size: 0;
    margin-left: -10px;
    height: 128px;
}
.kind_class a{ 
    float: left;
    font-size: 12px;
    line-height: 1;
    padding: 0 10px;
    margin: 6px 0;
    white-space: nowrap;
    border-left: #DDDEDE 1px solid;
}

.left_nav_icon{ 
    display: inline-block;
    width: 25px;
    height: 23px;
    background-image: url(../images/icon/left_navList.png);
    background-repeat: no-repeat;
}
.kind, .left_nav_icon{ 
    vertical-align: top;
}
.left_nav_icon01{ 
   background-position: -120px 0;
   margin-top: 4px;
}
.left_nav_icon02{ 
   background-position: -120px -24px;
   margin-top: 4px;
}
.left_nav_icon03{ 
   background-position: -120px -48px;
   margin-top: 4px;
}
.left_nav_icon04{ 
   background-position: -120px -72px;
   margin-top: 4px;
}
.left_nav_icon05{ 
   background-position: -120px -96px;
   margin-top: 4px;
}
.left_nav_icon06{ 
   background-position: -120px -120px;
   margin-top: 4px;
}
.left_nav_icon07{ 
   background-position: -120px -144px;
   margin-top: 4px;
}
.left_nav_icon08{ 
   background-position: -120px -168px;
   margin-top: 4px;
}

.left_nav_icon09{ 
   background-position: -160px 0px;
   margin-top: 4px;
}
.left_nav_icon10{ 
   background-position: -160px -24px;
   margin-top: 4px;
}
.left_nav_icon11{ 
   background-position: -160px -48px;
   margin-top: 4px;
}
.left_nav_icon12{ 
   background-position: -160px -96px;
   margin-top: 4px;
}
.left_nav_icon13{ 
   background-position: -160px -120px;
   margin-top: 4px;
}
.left_nav_icon14{ 
   background-position: -160px -144px;
   margin-top: 4px;
}
.left_nav_icon15{ 
   background-position: -160px -168px;
   margin-top: 4px;
}
.left_nav_icon16{ 
   background-position: -160px -192px;
   margin-top: 4px;
}
.kind{ 
    display: inline-block;
    padding-left: 8px;
    position: relative;
}
.kind span{ 
    position: absolute;
    width: 5px;
    height: 5px;
    overflow: hidden;
    background: url(../images/icon/left_navList.png) no-repeat -325px -296px;
    top: 15px;
    right: -26px;
    margin-left: 160px;
}
.right_nav{ 
    width: 1029px;
    height: 39px;
    font-size: 14px;
    line-height: 39px;
    border-bottom: #FF4400 2px solid;
    margin-bottom: 12px;
}
.nav_rm{
    margin-right: 40px;
}
.nav_rm li, .nav_all li{ 
    float: left;
    height: 39px;
    font-weight: bold;
}
.nav_rm li, .nav_all li{ 
    margin: 0 10px;
}
.nav_rm  a{ 
    color: #FF4300;
}
.nav_all a{ 
    color: #3B3B3B;
    padding: 0 3px;
}
.carList li, .carList a{ 
    float: left;   
}
.mr_15{ 
    margin-right: 15px;
}
.bz{ 
    font-weight: bold;
    color: #3B3B3B;
}
.car{ 
    width: 70px;
    height: 40px;
    background: url(../images/icon/top.png) no-repeat -170px -30px;
}
/*********一堆图*******/
.rightArea{ 
    margin-left: 160px;
}
.mainLeft{ 
    width: 721px;
}
.modLeft{ 
    width: 520px;
    position: relative;
    height: 280px;
    overflow: hidden;
}
.sigedian{ 
    position: absolute;
    left: 50%;
    bottom: 17px;
    margin-left: -30px;
    z-index: 5;
}
.sigedian i{ 
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../images/icon/left_navList.png) no-repeat -349px -294px;
}
.sigedian .orange{ 
    background: url(../images/icon/left_navList.png) no-repeat -362px -294px;
}
.modLeftImg{
    position: absolute;
    width: 400%;
    left: 0;
    right: 0;
}
.mainLeft a{ 
    float: left;
}
.modLeft img{ 
    width: 520px;
    height: 280px;
}
.modRight img{ 
    width: 200px;
    height: 280px;
}
.sm_imgBox{ 
    width: 520px;
    position: relative;
}
.sm_imgBox img{ 
    float: left;
    width: 250px;
    height: 125px;
}
.sm_allImg{ 
    width: 500px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.sm_imgCont{ 
    position: absolute;
    width: 200%;
    left: 0;
    top: 0;
}
.sm_item{ 
    width: 503px;
    overflow: hidden;
}
.sm_item a{ 
    border: #F4F4F4 1px solid;
    margin: -1px;
}
.top_002{ 
    width: 200px;
    height: 250px;
}
.pre, .next{ 
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;   
}
.pre{ 
    top: 50%;
    margin-top: -20px;
    left: 0;
    background: url(../images/icon/left_navList.png) no-repeat -318px -392px;
}
.next{ 
    top: 50%;
    margin-top: -20px;
    right: 0;
    background: url(../images/icon/left_navList.png) no-repeat -360px -392px
}
.pre:hover{ 
    background-position: -319px -433px;
}
.next:hover{ 
    background-position: -360px -433px;
}
/******topRight******/
.mainRight{ 
    width: 300px;
}
.notice{ 
    border: 1px solid #EEE;
    height: 98px;
    position: relative;
    overflow: hidden;
    margin-bottom: 9px;
}
.noticeTopNav{
    height: 26px;
    border-bottom: 1px solid #EEE;
    line-height: 26px;
    background-color: #F7F7F7;
    _margin-right: -10px;
}
.noticeTopNav li{ 
    width: 20%;
    font-size: 12px;
    float: left;
    text-align: center;
    position: relative;
    _margin: 0 -1px;
}
.noticeTopNav a{ 
    color: #3B3B3B;
}
.noticeTopNav .active,
.noticeTopNav li:hover{ 
    background-color: #FFF;
    font-weight: bold;
    height: 28px;
    white-space: nowrap;
    border-left: #EEE 1px solid;
    border-right: #EEE 1px solid;
    margin: 0 -1px  -1px;
}
.noticeCont{ 
    padding: 14px
}
.noticeContItem li{ 
    font-size: 12px;
    line-height: 26px;
    height: 26px; 
    float: left;
    width: 50%;
}
.noticeContItem .yellow a{ 
    color: #FF4300;
}
.noticeContItem a{ 
    color: #3B3B3B;
}
.noticeContItem{ 
    display: none;
}
.noticeCont .show{ 
    display: block;
}

.userLogin{ 
    height: 138px;
    border: 1px solid #EEE;
    padding: 10px 0 0 19px;
    background: url(../images/icon/left_navList.png) no-repeat 0 -294px;
}
.userImage img{ 
    width: 60px;
    height: 61px;
}
.userInfo{ 
    padding-top: 6px;
    margin-left: 70px;
    margin-bottom: 15px;
}
.userInfo h3{ 
    color: #3B3B3B;
    font: bold 12px/20px '';
}
.hi{ 
    font-family: "Tahoma";
}
.moneyClub a{ 
    display: inline-block;
    font: 12px/28px "";
    color: #F45732;
    border: 1px solid #FEC0A4;
}
.money{ 
    width: 103px;
    height: 28px;
    background-color: #FFEFE7;
    padding-left: 4px;
    position: relative;
}
.money span{ 
    position: absolute;
    left: 5px;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    background: url(../images/icon/left_navList.png) no-repeat -200px -52px;
}
.money em{ 
     padding-left: 25px;
}
.club{ 
    width: 74px;
    height: 28px;
    background-color: #FFEFE7;
    text-align: center;
}
.login_btn{ 
    width: 280px;
    height: 36px;
}
.login_btn a{ 
    display: block;
    float: left;
    margin-right: 5px;
    font: 12px/35px "";
    width: 75px;
    height: 35px;
    text-align: center;
    color: #FFF;
    position: relative;
}
.icon_login{ 
    position: absolute;
    width: 14px;
    height: 16px;
    overflow: hidden;
    background: url(../images/icon/left_navList.png) -386px -290px;
    left: 28px;
    top: 8px;
}
.login_btn .btn_login{ 
    width: 85px;
    height: 35px;
    padding-left: 15px;
    line-height: 35px;
    background: url(../images/icon/left_navList.png) no-repeat
    -300px -315px;
}
.btn_reg, .btn_boss{ 
    background: url(../images/icon/left_navList.png) no-repeat
    -325px -353px;
}
.service{ 
    height: 268px;
    border: #EEEEEE 1px solid;
}
.serviceBox{ 
     background-color: #F4F4F4;
     padding: 20px 0 0 14px;
}
.service h3{ 
    font: 14px/1 "Microsoft YaHei";
    height: 22px;
}
.serviceList{ 
    font: 12px/1 "";
    height: 54px;
    border-bottom: #DDD 1px solid;
}
.service li{ 
    float: left;
    width: 42px;
    margin-bottom: -1px;
    padding-top: 10px;
    padding-left: 14px;
    background-color: #FFF;
    margin-right: 10px;
    position: relative;
}
.service .active{ 
    height: 45px;
}
.serviceList a{ 
    float: left;
    height: 44px;
    color: #6B6B6B;
    position: relative;
    background-color: #FFF;
}
.ser_icon{ 
    display: block;
    width: 25px;
    height: 23px;
    margin: 0 0 4px 0;
    background-image: url(../images/icon/left_navList.png) ;
    background-repeat: no-repeat;
}
.ser_icon01{ 
    background-position: 0 -477px;
}
.ser_icon02{ 
    background-position: -29px  -477px;
}
.ser_icon03{ 
    background-position: -58px  -477px;
}
.ser_icon04{ 
    background-position: -87px -477px;
}
.serviceList a:hover, 
.serviceList .active a{ 
    color: #FF4400;
    height: 45px;
    margin-bottom: -1px;
}
.serviceList a:hover .ser_icon01,
.serviceList .active .ser_icon01{ 
    background-position: -116px -477px;
}
.cancel{ 
    width: 11px;
    height: 11px;
    position: absolute;
    right: 4px;
    top: 5px;
    background-position: -380px -41px;
}
.cz_container{ 
    padding-left: 10px;
    padding-top: 30px;
    position: relative;
}
.number{ 
    height: 20px;
    width: 178px;
    border: 1px solid;
    border-color: #AFAFAF #DCDCDC #DCDCDC
        #AFAFAF;
    font: 12px/20px "";
    margin-bottom: 8px;
    padding-right: 5px;
}
.num{ 
    height: 20px;
    padding: 0 4px;
    background-color: #E5E5E5;
    line-height: 20px;
    float: left;
    border-right: 1px solid #DCDCDC;
    border-top: #DCDCDC 1px solid;
}
.num_btn{ 
    width: 124px;
    height: 20px;
    padding-left: 5px;
}
.num_btn input{ 
    line-height: 20px\9;
    width: 100%;
    height: 20px;
}
.num_btn p{ 
    margin-bottom: -21px;
    height: 20px;
    color: #A9A9A9;
}
.num_icon{ 
    width: 15px;
    height: 19px;
    background: url(../images/icon/left_navList.png) no-repeat -284px -132px;
}
.money_icon{ 
    width: 15px;
    height: 19px;
    background: url(../images/icon/left_navList.png) no-repeat -300px -133px;
}
.price{ 
    font-size: 12px;
    margin-bottom: 10px;
}
.gray{ 
    color: #999;
    margin: 0 5px;
}
.num_price{ 
    font-family: "Verdana";
    font-weight: bold;
    color: #FF6500;
}
.fast_cz_btn, .sc_cz_btn{ 
    display: inline-block;
    font-size: 12px;
    width: 72px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    margin-right: 10px;
}
.fast_cz_btn{ 
    background-color: #FF4300;
    color: #FFF;
}
.sc_cz_btn{ 
    height: 25px;
    background-color: #FFF;
    border: #E5E5E5 1px solid;
    color: #3E3E3E;
}
.toy{ 
    padding-top: 6px;
    font: 12px/1 "";
    color: #999;
}
/*******1.psd over*******/
/***********2.psd hotCont***********/
.hotCont{ 
    height: 110px;
    margin-right: -15px;
}
.hotPoint{ 
    width: 281px;
    border-right: #EEE 1px solid;
    margin-left: 15px;
}
.hotPoint h3{ 
    font: 16px/1 "Microsoft YaHei";
    color: #FA5603;
    height: 30px;
}
.hotList{ 
    width: 277px;
    height: 80px;
    font-size: 12px;
}
.hotList li{ 
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 5px;
    width: 64px;
    margin-bottom: 7px;
    text-indent: 6px;
}
.hotList li a{ 
    color: #3C3C3C;
    display: inline-block;
}
.hotList .orange{ 
    background-color: #FF5500;
    text-align: center;
}
.hotList .orange a{ 
    color: #FFF;
}
.hotPoint .green{ 
    color: #A0B959;
}
.hotPoint .red{ 
    color: #DF61AB;
}
.hotPoint .blue{ 
    color: #55A1E5;
}
/******hotPointer over***********/
/************左边内容************/
.leftContainer{ 
    width: 787px;   
    margin-right: -1px;
    min-width: 787px;
}
.title{ 
    position: relative;
    margin-left: -1px;
    height: 50px;
    line-height: 50px; 
    border-top: #DDDDDD 2px solid;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.title h3{ 
    font-family: "Microsoft YaHei";
    height: 50px;
    color: #0F0F0F;
    margin-left: 20px;
}
.title p{
    color: #3B3B3B;
    margin-right: 30px;
} 
/*******左图片内容********/
.cont_main{ 
    position: relative;
}
.mainContentItem_130, .mainContentItem_168{ 
    width: 393px;
    position: relative;
    height: 270px;
    border: #EEE 1px solid;
    margin: -1px;
    background-color: #FFF;
}
.goodItem_70{
    width: 170px;
}
.mainItem{ 
    padding: 25px 25px 21px 24px;
}
.mainItem h3{ 
    font: bold 14px/1 "";
    padding-left: 12px;
    border-left: #FF4400 3px solid;
    margin-bottom: 12px;
}
.goodItem img{ 
    height: 130px;
    width: 130px;
}
.goodItem .about{ 
    line-height: 40px;
    font-weight: bold;
}
.leftContainer .kind_list{ 
    margin-left: -10px;
}
.kind_list a{
    color: #3B3B3B; 
}
.kind_list span{ 
    color: #DDDEDE;
    font-size: 10px;
    margin: 0 7px;
}
.left_img{ 
    width: 168px;
    height: 190px;
} 
.goods_sm img{ 
    height: 70px;
    width: 70px;
    margin-bottom: 9px;
}
.goodsList li{ 
    text-align: center;
    margin-bottom: 20px;
}
.goodsList li a{ 
    color: #3B3B3B;
}
.goodLeft p{ 
    line-height: 20px;
}
.goodLeft img{ 
    height: 70px;
    width: 70px;
}
.goodLeft .head{ 
    color: #3B3B3B;
    font-weight: bold;
}
.contJ img{ 
    width: 168px;
    height: 124px;
    margin-bottom: 10px;
}
.goodItem_168{ 
    width: 140px;
}
.goodItem_168 img{ 
    width: 70px;
    height: 70px;
}
.Jcontainer{ 
    height: 46px;
    width: 168px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
    background-color: #F6F6F6;
}
.goodTop img{ 
    float: left;
}
.goods_sm a{ 
    color: #3C3C3C;
}
.goods_smBox{ 
    margin-bottom: 13px;
}
.goods_sm{ 
    text-align: center;
}
.dashesList{ 
    width: 140px;
}
.dashesList li{ 
    position: relative;
    height: 38px;
    line-height: 38px; 
    text-align: center;
    width: 68px;
    float: left;
    border: #EEE 1px dashed;
    margin: -1px;
    background-color: #FFF;
}
.dashesList li a{ 
    color: #3B3B3B
}
.gameTop{ 
    height: 90px;
    margin-bottom: 14px;
}
.gameTop img{ 
    float: left;
    width: 167px;
    height: 90px;
}
.gameCont{ 
    padding: 10px;
    height: 70px;
    line-height: 20px;
    background-color: #F6F6F6;
    margin-left: 167px;    
}
.gameBtm{ 
    line-height: 26px;
    margin-bottom: 12px;
}
.gameBtm a{ 
    color: #3B3B3B;
}
.kindBox{ 
    padding-top: 12px;
    border-top: 1px dashed #EEE;
}
/******左over**********/
.rightContainer{ 
    width: 378px;
}
.rightContainerTop, .rightContainerbom{ 
    width: 334px;
    padding: 18px 23px 0;
    border-top: #DDD 1px solid;
    border-left: #DDD 1px solid;
    margin-bottom: 13px;
}
.rightContainerTop{ 
    padding-bottom: 35px;
    background-color: #F4F4F4;
}
.titleBox{ 
    margin-bottom: 16px;
}
.mr_24{ 
    margin-right: 24px;
}
.titleBox a{ 
    color: #3C3C3C;
}
.titleBox h3{ 
    font-size: 12px;
    float: left;
    font: 16px/1 "Microsoft YaHei";
}
.aitao{ 
    margin-bottom: 23px;
}
.aitaoCont{ 
    line-height: 20px;
    width: 202px;
    height: 32px;
    padding: 18px 32px 15px 56px;
    background-color: #FFF;
    text-align: center;
    border-radius: 15px;
    color: #6B6B6B;
    position: relative;
}
.aitao_icon{ 
    position: absolute;
    width: 78px;
    height: 59px;
    background: url(../images/icon/left_navList.png) no-repeat -122px -201px; 
    right: -20px; 
    bottom: -45px; 
}
.tj{ 
    position: relative;
}
.tj a{ 
    color: #5684BC;
}
.tj .gray{ 
    height: 22px;
    margin: 0;
}
.tj_cont{ 
    background-color: #FFF;
    height: 175px;
    padding: 15px;
    line-height: 20px;
    position: relative;
    border: 1px solid #FFF;
    margin-bottom: 25px;
}
.tj_cont h3{ 
    font: bold 14px/1 "";
    height: 24px;
}
.tj_cont h3 span{ 
    margin-left: 12px;
    font: 12px/1 "Arial";
}
/* .tj_cont p{ 
    width: 92%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */
.tj_img{ 
    margin-bottom: 10px;
    padding-top: 10px;
}
.tj_img img{ 
    height: 80px;
    width: 80px;
    float: left;
    display: block;
    margin-right: 10px;
}
.tj_cont .view a{
    color: #9B9B9B;
    margin-right: 15px;
}
.sanjiao{ 
    position: absolute;
    border-width: 6px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #EEE transparent transparent;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    left: -12px;
}
.white{ 
    border-right-color: #FFF;
    left: -11px;
}
.yuan{
    background: url(../images/icon/top01.png) no-repeat -78px -197px;
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -37px;
    top: 8px;
}
.tj .mb_1{ 
    margin-bottom: 1px;
}
.tj .more{
    position: absolute;
    left: 50%;
    text-align: center;
    height: 30px;
    width: 100px;
    line-height: 30px;
    background: #FFF;
    margin-left: -50px;
    color: #6B6B6B;
}
/********topOver*****/
/**********bom*********/
.rightContainerbom h3{
    height: 16px;
    font: bold 16px/16px "Microsoft YaHei";
}
.rightBom_Cont, .rightBom_ContB, .rightBom_ContC{ 
    padding: 18px 0;
    border-bottom: #EEE 1px dashed;
}
.rightContainerbom{ 
    height: 838px;
    overflow: hidden;
}
.rightBom_imgBox{ 
    width: 334px;
    height: 221px;
    margin-bottom: 7px;
}
.img_top_right{ 
    width: 221px;
    position: relative;
    text-align: center;
}
.img_top_right img{ 
    height: 221px;
    width: 221px;
}
.shade_bg{ 
    width: 100%;
    height: 25px;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    position: absolute;
    left: 0;
    bottom: 0;
}
.bg_text{ 
    width: 100%;
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 25px;
    height: 25px;
    color: #FFF;
    text-align: center;
}
.img_top_left{ 
    width: 110px;
}
.img_top_left dd{ 
    float: left;
    position: relative;
}
.img_top_left img{ 
    height: 110px;
    width: 110px;
    display: block;
    margin-bottom: 1px;
}
.rightBom_list, .rightBom_listB{ 
    line-height: 24px;
}
.rightBom_ContB, .rightBom_ContC{ 
    width: 334px;
}
.contB_smImg{ 
    margin-right: 27px;
    width: 90px;
    display: inline;
    text-align: center;
}
.contBimgBox{ 
    margin-right: -127px;
    /*_width: 400px;*/
    margin-bottom: 10px;
}
.contB_smImg img{ 
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 12px;
}
.rightBom_listB li{ 
    width: 50%;
    float: left;
    line-height: 32px;
    height: 32px;
}
.contC_list li{ 
    line-height: 30px;
    height: 30px;
}
.contC_item em{ 
    font-style: italic;
    font-size: 16px;
    margin-right: 8px;
}
.contC_item a{ 
    color: #000;
    margin-right: 8px;
}
.contC_item a, .contC_item span{ 
    vertical-align: middle;
}
.contC_item span{ 
    color: #9C9C9C;
}
/* 2.psd over */
/* 3.psd hotbuy*/
.hotBuy{ 
    margin-bottom: 30px;
}
.hotBuyCont{ 
    margin-right: -50px;
}
.hotBuy .titBox{ 
    margin-bottom: 30px;
}
.hotBuy .tit{ 
    font: bold 16px/1 "Microsoft YaHei";
}
.hotBuy_item{ 
    line-height: 20px;
    margin-right: 50px;
}
.hotBuy_item img{ 
    height: 120px;
    width: 120px;
    display: block;
    margin-bottom: 10px;
}
.hotBuy_item .price{ 
    font-family: "Arial";
}
.hotBuy .kind_list a{ 
    color: #9B9B9B;
}
.yuanjia{  
    text-decoration: line-through;
}
.shoseImg{ 
    margin-left: 106px;
    margin-bottom: 46px;
}
.shoseImg img{ 
    width: 728px;
    height: 90px;
    display: block;
}
.help{ 
    margin-bottom: 30px;
}
.help_cont{ 
    width: 25%;
    _width: 24.9%;
    float: left;
}
.help_item{ 
    padding: 0 25px;
    height: 88px;
    border-right: #EEE 1px solid;
}
.help_item h3{ 
    height: 39px;
    font: bold 16px/39px "Microsoft YaHei";
    margin-bottom: 10px;
}
.help_item h3 span{ 
    vertical-align: middle;   
}
.help_icon{ 
    margin-top: 3px;
    display: inline-block;
    width: 37px;
    height: 39px;
    background-image: url(../images/icon/bom.png);
    background-repeat: no-repeat;
    margin-right: 9px;
}
.help_icon_01{ 
    background-position: 0 0;
}
.help_icon_02{ 
    background-position: -0 -42px;
}
.help_icon_03{ 
    height: 28px;
    background-position: 0 -89px;
}
.help_icon_04{ 
    background-position: 0 -126px;
}
.help_list li{ 
    float: left;
    line-height: 20px;
    height: 20px;
    width: 50%;
    _width: 49%;
}
.help_list li a{ 
    color: #9C9C9C;
}
.footer{ 
    border-top: 2px solid #FF5400;
}
.footer .kind_list{ 
    padding: 14px 0;
    margin-bottom: 5px;
}
#border{ 
    border-bottom: #DDD 1px solid;
}
.footer .kind_list a{ 
    color: #6B6B6B;
}
.kind_co a, .kind_co em{ 
    line-height: 26px;
    color: #6B6B6B;
    margin-right: 8px;
    float: left;
}
.kind_co em{ 
    font-family: "Arial";  
    color: #9B9B9B;
    margin-left: 30px;
}
.footer .kind_list i{ 
    color: #9B9B9B;
    font-style: normal;
}
.footer_icon{ 
    float: right;
    width: 69px;
    height: 100px;
    background-position: -330px -501px;
    margin-top: -113px;
}